@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=PT+Sans:wght@400;700&family=Shippori+Antique&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-raisin-black text-platinum overflow-hidden
}

.btn {
  @apply px-4 py-1 bg-mountbatten-pink text-platinum rounded hover:contrast-50;
}
